/* general settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: black;
    color: white;
    height: 100vh;
    font-size: 16px;
}

h1 {
    font-size: 70px;
    text-align: center;
}

h2 {
    font-size: 50px;
    text-align: center;
}

h3{
    font-size: 30px;
    text-align: left;
    padding-bottom: 10px;
}

h5 {
    font-size: 12px;
    text-align: left;
    padding-bottom: 10px;
}

main {
    flex: 1;
}



/* navigation bar */ 

nav {
    /* Define the height of the navigation bar in pixels */
    height: 60px;
}

ul.flex-container {
    /* This is the parent element where you will set display:flex  */
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: rgb(35, 38, 39);
    line-height: 60px; /*vertically centered text*/
    padding: 0px;
    margin: 0px;
}

.flex-container li {
    height: 100%;
    width: 100%;
    text-align: center;
}

.flex-container a {
    /* These are the children elements */
    color:rgb(254, 248, 248);
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

.flex-container a:hover {
    background-color: rgba(0, 0, 0, 30%);
}




/* introduction */ 
.introduction {
    text-align: center;
    padding: 100px 0px 100px 0px;
}

.introduction h1 {
    padding: 20px 0px 20px 0px;    
}

.introduction p {
    padding: 0px 250px 0px 250px;
}



/* short-paragraph */ 
.short-paragraph {
    text-align: center;
    padding: 100px 0px 100px 0px;
    background:
    linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)      
    ),
    url("img/img4.png");
    background-position: center;
    color: black;
}

.short-paragraph h2 {
    padding: 20px 0px 20px 0px;
}

.short-paragraph p {
    padding: 0px 250px 0px 250px;    
}

/* grid-part-of-the-web */ 
.grid-part-of-the-web {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 20px;
    padding-top: 20px;
}

.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    padding: 50px 75px 50px 75px;
}

.flex-layout {
    display: flex;
}

.image-container {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.content-container {
    width: 100%;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.content-container p {
    line-height: 1.5em;
    text-align: left;
}

img {
    width: 100%;
    object-fit: cover;
}

