* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, 
html{
    font-family: 'Roboto', sans-serif;
}

nav {
    /* Define the height of the navigation bar in pixels */
}

ul.flex-container {
  /* This is the parent element where you will set display:flex  */
}

a {
    /* These are the children elements */
    color:black;
    text-decoration: none;
}
